.text-center.heading-text {
  margin-top: 100px;
}

.input-box {
  margin-top: 30px;
}

p {
  margin-top: 20px;
  height: 30px;
  align-content: center;
  vertical-align: middle;
}

.text-left.tracking-results-heading {
  margin-top: 100px;
}

.text-center.tracking-results-heading {
  margin-top: 100px;
}

.table-responsive {
  text-align: center;
}

.shortened_url {
  font-size: 25px;
}

.url-text {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.footer {
  margin-top: 50px;
}

.gradbody {
  overflow: hidden;
  background: linear-gradient(273deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;

  -webkit-animation: gradchange 10s ease infinite;
  -moz-animation: gradchange 10s ease infinite;
  animation: gradchange 10s ease infinite;
}

@-webkit-keyframes gradchange {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes gradchange {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes gradchange {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.trackinglink {
  font: 20px;
  transition: 0.5s;
  color: inherit;
  border-bottom: 1px solid blue;
  font-size: 15px;
}

.trackinglink:hover {
  transition: 0.5s;
  text-decoration: none;
  color: blue;
}